@model GameOfThronePool.Models.UserBonusQuestion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Answer Bonus question @Model.QuestionNumber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserBonusQuestionID" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="QuestionNumber" />
            <input type="hidden" asp-for="QuestionText" />
            <input type="hidden" asp-for="Correct" />
            <div class="jumbotron">
                <h3>@Model.QuestionText</h3>
            </div>
            <div class="form-group">
                <label asp-for="QuestionAnswer" class="control-label"></label>
                <input asp-for="QuestionAnswer" class="form-control" />
                <span asp-validation-for="QuestionAnswer" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
