@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>The 2019 Game of Thrones Final Season Deathpool</h3>
<blockquote class="quote-card">
    <p>
        <i>
        If you think this has a happy ending, you haven't been paying attention.
        </i>
    </p>
    </blockquote>

    <address>
        <strong>Support:</strong> <a href="mailto:stephen@foxdeploy.com">Stephen@FoxDeploy.com</a><br />
    </address>
