@{
    ViewData["Title"] = "Contact";
}
<h2>Winter is Coming</h2>
<p>Page created by Stephen Owen</p>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Stephen@FoxDeploy.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
