@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>The 2019 Game of Thrones Final Season Deathpool</h3>
<blockquote class="quote-card">
    <p>
        <i>
            If you think this has a happy ending, you haven't been paying attention.
        </i>
    </p>
</blockquote>
<p>
Pick your fun user name like Lord Stephen, Ser MoonBoy, whatever you want and then your e-mail and password. Please don't use your normal password for everything else. It's encrypted and I can't see it but it's better to be safe. This also means Password reset won't work, so don't lose your pw
</p>
<br />
Once you're registered, click 'Setup my DeathPool' and select whether a character is alive or dead by the end of the show. If they died you can also provide if they become a WhiteWalker or not.
<br /><br />
Finally at the bottom of the page you can answer three bonus questions for extra points.
<br />
Here's how we'll determine a winner:<br />
1 point - right about being alive or dead<br />
+1 point - gamble a point and guess if they're a White Walker or not! If you're wrong...you lose a point.<br />

Bonus questions are:<br />
1 Point - is Dany Preggers?<br />
2 Point - Who kills the Night king?<br />
4 Points - Who holds the throne at the end of the show?<br />

<address>
    <strong>Support:</strong> <a href="mailto:stephen@foxdeploy.com">Stephen@FoxDeploy.com</a><br />
</address>
