@model GameOfThronePool.Models.ShowCharacterStatusRecord
@{
    Layout = "_Layout";
    ViewData["Title"] = "GoT - Who Lives";
}
@Html.ValidationSummary();
<hr />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<h4>Create a New Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-toggle="toggle" data-on="Alive" data-off="Dead" id="AliveStatus" name="AliveStatus" checked>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WhiteWalkerStatus" class="control-label"></label>
                <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" id="WhiteWalkerStatus" name="WhiteWalkerStatus">
            </div>
            <div class="form-group">
                <label asp-for="CharacterDiedEpisodeNo" class="control-label"></label>
                <input asp-for="CharacterDiedEpisodeNo" class="form-control" />
                <span asp-validation-for="CharacterDiedEpisodeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<link href="~/css/bootstrap-toggle.css" rel="stylesheet" />
<script src="~/js/bootstrap-toggle.js"></script>
